

header{
    background-color: rgb(250, 247, 229);
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}
input{
    padding: 8px;
    border-radius: 9px;
    align: right;
}

header nav{
  text-align: right;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 10px;

}

header nav a{
    display: inline;
    margin: 10px;
    color: rgb(94, 55, 55);
    font-size: 20px
}

article {
  display: inline block;
  margin: 100px;
  padding: 15px;
  box-shadow: 2px 2px#00000011;
  text-align: center;

}
article img {
  width: 50%;
  object-fit: cover;
  border-radius: 20px;


}
article h3 {
  margin: 10px;
  font-size: 17px;
}

.btn {
  display: inline-block;
  background: rgb(73, 43, 43);
  color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 9px;
  text-decoration: none;
}
.btn:hover {
  background-color: #ffffff;
}
section {
    text-align: center;
    background-color: rgb(102, 62, 43);
    color: rgb(255, 255, 255);
    padding: 1px;
}
section h2{
    background-color: rgb(56, 21, 16);
    padding: 45px;
    text-align: center;
    margin-top: 50px;
}


button{
    background-color: rgb(59, 75, 49);
    color:  rgb(255, 255, 255);
    border-radius: 30px;
}

#about{
background-color: rgb(168, 110, 110);
padding: 35px;
text-align: center;
}

#contact{   #
  text-align: center; 
}

input{
  margin: 60px ;
  width: 350px 
}

footer{
    background-color: rgb(128, 121, 121);
    text-align: center;
    padding: 8px;
}

header p{
  text-align: center;
}
    






